<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lujs.auth.apiimpl.mapper.RoleMapper">

    <select id="findAuthUser" resultType="com.github.lujs.auth.api.model.Role.RoleDto">
       SELECT
	       *
       FROM
	   (
		SELECT
			u.id,
			u.agent_id,
			u.state,
			u. NAME,
			u.email,
			u.phone_no,
			u.gender,
			u.create_time,
		IF (
			rel.role_id IS NULL,
			FALSE,
			TRUE
		) AS checked
		FROM
			tb_user u
		LEFT JOIN tb_user_role_rel rel ON rel.user_id = u.id
		AND rel.role_id = #{param.roleId}
	    ) a
    WHERE
	   1 = 1
   </select>

	<select id="findMenuPermissionTree" resultType="com.github.lujs.auth.api.model.Role.VOrgTree">
		select
		p.id,
		p.name,
		if(rel.menu_id is null,
		false,
		true) as checked
		from
		tb_menu p
		left join tb_role_menu_rel rel on
		rel.role_id = #{roleId}
		and rel.menu_id = p.id
		where
		 sys_id = (
		select
		sys_id
		from
		tb_role
		where
		id = #{roleId})
		<if test="pid == null">
			and pid is null
		</if>
		<if test="pid != null">
			and pid = #{pid}
		</if>
	</select>

	<select id="findApiPermissionTree" resultType="com.github.lujs.auth.api.model.Role.VOrgTree">
		select
		p.id,
		p.name,
		if(rel.api_id is null,
		false,
		true) as checked
		from
		tb_api p
		left join tb_role_api_rel rel on
		rel.role_id = #{roleId}
		and rel.api_id = p.id
		where
		sys_id = (
		select
		sys_id
		from
		tb_role
		where
		id = #{roleId})
		<if test="pid == null">
			and pid is null
		</if>
		<if test="pid != null">
			and pid = #{pid}
		</if>
	</select>

</mapper>
